<div class="container d-flex align-items-center justify-content-center">
  <div class="col col-md-6">
      <div class="card">
          <div class="card-header">
              <img src="assets\img\logo.png" alt="Logo Sabiduria Infinita">
              <h2>Por favor, registrese</h2>
              <form (ngSubmit)=" ngOnInit()">
                  <div class="form-group">
                      <label for="name">Nombre</label>
                      <input type="text" class="form-control" id="name" formControlName="name"
                          placeholder="Ingresa tu nombre">

                      @if(customerform.controls['name'].hasError('required')&& customerform.controls['name'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }

                      @if(customerform.controls['name'].hasError('minlength') && customerform.controls['name'].touched)
                      {
                      <small>*El nombre debe tener entre 4 y 50 caracteres.</small>
                      }

                      @if(customerform.controls['name'].hasError('maxlength') && customerform.controls['name'].touched)
                      {
                      <small>*El nombre debe tener entre 4 y 50 caracteres.</small>
                      }

                  </div>
                  <div class="form-group">
                      <label for="lastname">Apellido</label>
                      <input type="text" class="form-control" id="lastname" formControlName="lastname"
                          placeholder="Ingresa tu apellido">
                      @if(customerform.controls['lastname'].hasError('required')&& customerform.controls['lastname'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }

                      @if(customerform.controls['lastname'].hasError('minlength') && customerform.controls['lastname'].touched)
                      {
                      <small>*El apellido debe tener entre 4 y 50 caracteres.</small>
                      }

                      @if(customerform.controls['lastname'].hasError('maxlength') && customerform.controls['lastname'].touched)
                      {
                      <small>*El apellido debe tener entre 4 y 50 caracteres.</small>
                      }

                  </div>
                  <div class="form-group">
                      <label for="email">Correo electrónico</label>
                      <input type="email" class="form-control" id="email" formControlName="email"
                          placeholder="Ingresa tu correo electrónico">
                      @if(customerform.controls['email'].hasError('required')&& customerform.controls['email'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }

                      @if(customerform.controls['email'].hasError('email'))
                      {
                      <small>*El correo electrónico no es válido.</small>
                      }
                  </div>
                  <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" class="form-control" id="password" formControlName="password"
                          placeholder="Ingresa tu contraseña">
                      @if(customerform.controls['password'].hasError('required')&& customerform.controls['password'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }

                      @if(customerform.controls['password'].hasError('minlength') && customerform.controls['password'].touched)
                      {
                      <small>*La contraseña debe tener entre 10 y 16 caracteres.</small>
                      }

                      @if(customerform.controls['password'].hasError('maxlength') && customerform.controls['password'].touched)
                      {
                      <small>*El contraseña debe tener entre 10 y 16 caracteres.</small>
                      }
                  </div>
                  <div class="form-group">
                      <label for="birthdate">Fecha de nacimiento</label>
                      <input type="date" class="form-control" id="birthdate" formControlName="birthdate">
                      @if(customerform.controls['birthdate'].hasError('required')&& customerform.controls['birthdate'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }
                      @if(customerform.controls['birthdate'].hasError('min'))
                      {<small>*Debes ser mayor de 18 años.</small>}
                  </div>
                  <div class="form-group">
                      <label for="idgender" class="form-label">Genero</label>
                      <select class="form-control" id="idgender" formControlName="idgender">
                          <option value="null" disabled selected>Selecciona tu Genero</option>
                          @for(gender of genders; track $index){
                          <option value="{{gender.idgender}}">{{gender.gender}}</option>
                          }
                      </select>
                      @if(customerform.controls['idgender'].hasError('required')&& customerform.controls['idgender'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber">Número de teléfono:</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
                  </div>

                  <div class="form-group">
                      <label for="idcity">Ciudad</label>
                      <select class="form-control" id="idcity" formControlName="idcity">
                          <option value="null" disabled selected>Selecciona tu ciudad</option>
                          @for(city of cities; track $index){
                          <option value="{{city.idcity}}"> {{city.city}} </option>
                          }
                      </select>
                      @if(customerform.controls['idcity'].hasError('required')&& customerform.controls['idcity'].touched)
                      {
                      <small>* Campo Requerido</small>
                      }
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="accept" name="accept">
                    <label class="form-check-label" for="accept">Acepto los términos de uso</label>
                  </div>
                  <br>
                  <button class="btn btn-primary w-100 py-2">Registrarse</button>
                  <p></p>
                  <button type="button" class="btn btn-primary w-100 py-2"
                      (click)="onSubmit()">Actualizar</button>
              </form>
          </div>
      </div>
  </div>
</div>
