<br>
<div class="container d-flex align-items-center justify-content-center">
  <div class="col col-md-6">
    <div class="card">
      <div class="card-header">
        <img src="assets\img\logo.png" alt="Logo Sabiduria Infinita">
        <form [formGroup]="form">
          <h2 class="card-title text-center">Agrega el Libro</h2>
          <div class="mb-3">
            <label for="title" class="form-label">Título del Libro</label>
            <input class="form-control" type="text" id="title" formControlName="title">
          </div>
          @if (titleField.errors ) {
          @if (titleField.errors['required'] && titleField.touched) {
          <span>* El campo titulo es requerido</span>
          }
          @if (titleField.errors['minlength'] && titleField.dirty) {
          <span>El campo titulo debe contener al menos 4 caracteres</span>
          }
          @if (titleField.errors['maxlength']&& titleField.dirty ) {
          <span>* El campo titulo debe contener al maximmo 25 caracteres</span>
          }
          }

          <div class="mb-3">
            <label for="imageUrl" class="form-label">Imagen</label>
            <input type="file" (change)="getFile($event, 'image')" class="form-control" id="imageUrl" accept="image/*"
              formControlName="imageUrl">
          </div>
          @if (imageUrlField.errors ) {
          @if (imageUrlField.errors['required'] && imageUrlField.touched) {
          <span>* El campo Imagen es requerido</span>
          }
          @if (imageUrlField.errors['minlength'] && imageUrlField.dirty) {
          <span>El campo Imagen debe contener al menos 4 caracteres</span>
          }
          @if (imageUrlField.errors['maxlength']&& imageUrlField.dirty ) {
          <span>* El campo Imagen debe contener al maximmo 25 caracteres</span>
          }
          }

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nameauthor" class="form-label">Nombre del Autor</label>
              <input class="form-control" type="text" id="nameauthor" formControlName="nameauthor">
            </div>
            @if (nameauthorField.errors ) {
            @if (nameauthorField.errors['required'] && nameauthorField.touched) {
            <span>* El campo Nombre del Autor es requerido</span>
            }
            @if (nameauthorField.errors['minlength'] && nameauthorField.dirty) {
            <span>El campo Nombre del Autor debe contener al menos 4 caracteres</span>
            }
            @if (nameauthorField.errors['maxlength']&& nameauthorField.dirty ) {
            <span>* El campo Nombre del Autor debe contener al maximmo 25 caracteres</span>
            }
            }
            
            <div class="col-md-6 mb-3">
              <label for="lastnameauthor" class="form-label">Apellidor del Autor</label>
              <input class="form-control" type="text" id="lastnameauthor" formControlName="lastnameauthor">
            </div>
            @if (lastnameauthorField.errors ) {
            @if (lastnameauthorField.errors['required'] && lastnameauthorField.touched) {
            <span>* El campo tiApellidor del Autortulo es requerido</span>
            }
            @if (lastnameauthorField.errors['minlength'] && lastnameauthorField.dirty) {
            <span>El campo Apellidor del Autor debe contener al menos 4 caracteres</span>
            }
            @if (lastnameauthorField.errors['maxlength']&& lastnameauthorField.dirty ) {
            <span>* El campo Apellidor del Autor debe contener al maximmo 25 caracteres</span>
            }
            }
          </div>

          <div class="mb-3">
            <label for="publicationDate" class="form-label">Fecha de publicacion</label>
            <input type="date" id="publicationDate" formControlName="publicationDate" class="form-control">
          </div>
          @if (publicationDateField.errors && publicationDateField.touched ) {
          @if (publicationDateField.errors['required']) {
          <span>* Seleccione la fecha de publicaion del ibro</span>
          }
          }

          <div class="mb-3">
            <label for="edition" class="form-label">Numero de Edicion</label>
            <input type="number" id="edition" formControlName="edition" class="form-control">
          </div>
          @if (editionField.errors ) {
          @if (editionField.errors['required']&& editionField.touched) {
          <span>* Ingrese la Edicion</span>
          }
          @if (editionField.errors['min'] && editionField.dirty) {
          <span>* El precio no puede ser menor que cero</span>
          }

          }

          <div class="mb-3">
            <label for="editorial" class="form-label">Editorial</label>
            <input class="form-control" type="text" id="editorial" formControlName="editorial">
          </div>
          @if (editorialField.errors ) {
          @if (editorialField.errors['required'] && editorialField.touched) {
          <span>* El campo Editorial es requerido</span>
          }
          @if (editorialField.errors['minlength'] && editorialField.dirty) {
          <span>El campo Editorial debe contener al menos 4 caracteres</span>
          }
          @if (editorialField.errors['maxlength']&& editorialField.dirty ) {
          <span>* El campo Editorial debe contener al maximmo 50 caracteres</span>
          }
          }

          <div class="mb-3">
            <label for="description" class="form-label">Descripcion</label>
            <textarea class="form-control" type="text" id="description" formControlName="description"></textarea>
          </div>
          @if (descriptionField.errors ) {
          @if (descriptionField.errors['required'] && descriptionField.touched) {
          <span>* El campo Descripcion es requerido</span>
          }
          @if (descriptionField.errors['minlength'] && descriptionField.dirty) {
          <span>El campo Descripcion debe contener al menos 50 caracteres</span>
          }
          @if (descriptionField.errors['maxlength']&& descriptionField.dirty ) {
          <span>* El campo Descripcion debe contener al maximmo 100 caracteres</span>
          }
          }

          <div class="mb-3">
            <label for="categories" class="form-label">Categories</label>
            <select id="categories" formControlName="categories" class="form-select">
              <option value="" disabled selected>Select a category</option>
              <option value="action-rpg">Action-RPG</option>
              <option value="Shooter">Shooter</option>
              <option value="action-adventure">Action-Adventure</option>
              <option value="racing">Racing</option>
              <option value="survival-horror">Survival-Horror</option>
            </select>
          </div>
          @if (categoriesField.errors && categoriesField.touched) {
          @if (categoriesField.errors['required']) {
          <span>* Seleccione una categoria</span>
          }
          }

          <div class="mb-3">
            <label for="pdfName" class="form-label">Pdf</label>
            <input type="file" (change)="getFile($event, 'pdf')" class="form-control" id="pdfName" accept=".pdf"
              formControlName="pdfName">
              
          </div>
          @if (pdfNameField.errors ) {
          @if (pdfNameField.errors['required'] && pdfNameField.touched) {
          <span>* El campo PDF es requerido</span>
          }
         
          }

          <div class="mb-3 form-check">
            <input type="checkbox" id="state" formControlName="state" class="form-check-input">
            <label for="state" class="form-check-label">Terms & Conditions</label>
          </div>
          @if (stateField.errors && stateField.dirty ) {
          @if (stateField.errors['required']) {
          <span>* Acepte los terminos y condiciones</span>
          }
          }
          <br>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" (click)="submitForm()" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
