<div class="container">
    <div class="card-container">
        <div class="card">
            <img [src]="book.imageUrl" alt="{{ book.title }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ book.nameauthor }} {{ book.lastnameauthor }}</h6>
                <p class="card-text">{{ book.description }}</p>
                <p class="card-text"><small class="text-muted">Published on: {{ book.publicationDate | date }}</small>
                </p>
                <p class="card-text"><small class="text-muted">Edition: {{ book.edition }}</small></p>
                <p class="card-text"><small class="text-muted">Editorial: {{ book.editorial }}</small></p>
                <p class="card-text"><small class="text-muted">Categories: {{ book.categories }}</small></p>
                <a [href]="book.pdfUrl" class="btn btn-outline-success" target="_blank">Read PDF</a>
                <a [routerLink]="['/loans/form', book.idbook]" class="btn btn-outline-primary">Loan this Book</a>
            </div>
        </div>
    </div>
    <div class="pdf-container">
        <pdf-viewer [src]="book.pdfUrl" [render-text]="true" [original-size]="false"
            style="width: 900px; height: 650px"></pdf-viewer>

</div>
