<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">TÍTULO</th>
            <th scope="col">PORTADA</th>
            <th scope="col">LIBRO</th>
            <th scope="col">NOMBRE AUTOR</th>
            <th scope="col">APELLIDO AUTOR</th>
            <th scope="col">AÑO DE PUBLICACIÓN</th>
            <th scope="col">EDITORIAL</th>
            <th scope="col">EDICION</th>
            <th scope="col">DESCRIPCIÓN</th>
            <th scope="col">CATEGORÍAS</th>
            <th scope="col">ESTADO</th>
            <th scope="col">ELIMINAR</th>
            <th scope="col">ACTUALIZAR</th>
        </tr>
    </thead>
    <tbody>
        @for (book of books; track book.title; let i = $index) {
        <tr>
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ book.title }}</td>
            <td>
                <img [src]="book.imageUrl" alt="{{book.title}}">
            </td>
            <pdf-viewer [src]="book.pdfUrl" [render-text]="true" [original-size]="false"
                style="width: 200px; height: 300px"></pdf-viewer>
            <td>{{ book.nameauthor }}</td>
            <td>{{ book.lastnameauthor }}</td>
            <td>{{ book.publicationDate }}</td>
            <td>{{ book.editorial }}</td>
            <td>{{ book.edition }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.categories }}</td>
            <td>{{ book.state }}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="deleteBook(book.idbook)">Eliminar</button>
            </td>
            <td><button class="btn btn-danger" (click)="update(book.idbook)">Actualizar</button></td>
            <td>
                <button class="btn btn-primary" (click)="navigateToLoanForm(book.idbook)">Prestar</button>
            </td>

        </tr>
        }
    </tbody>
</table>